@import '../node_modules/bootstrap/scss/bootstrap.scss'; 

$green:   #99CC33;
$primary:$green;
$list-group-bg: #323232;
$black: #191919;

body {
    background-color: #323232;
}

.nav-item {
    border-bottom: none;
}

.item {
    display: flex;
    height: 2em;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top:1em;
    background-color: $green;
    border-radius: 10px;
    text-decoration: none;
    color: #323232;
    box-shadow: $black;
    transition: all 0.5s;
}

.item:hover {
    padding: 1.6em;
    box-shadow: $green;
    opacity: 0.8;
}

.nav-link:hover {
    border-bottom: 1px solid $black;
    transition: border-bottom 3s;
}

.myimg {
    width: 10em;
    height: 10em;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.name {
    font-size: 2.5em;
    color: $green;
}

.navbar {
    background-color: $primary;
    opacity: 0.8;
}

.info {
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    padding: 10px;
    border-radius: 10px;
    background-color: $black;
    height: 2em;
    color: white;
}


@include media-breakpoint-down(md) {
    .info {
        height: 4em;
    }
}

